NAME = "temple_Ubu_18"
CONTEXT = [
  NETWORK = "YES",
  SSH_PUBLIC_KEY = "$USER[SSH_PUBLIC_KEY]" ]
CPU = "1"
DESCRIPTION = "primera prueba de packer"
DISK = [
  IMAGE = "fin_ubuntu_18.04",
  IMAGE_UNAME = "oneadmin" ]
GRAPHICS = [
  LISTEN = "0.0.0.0",
  TYPE = "VNC" ]
HYPERVISOR = "kvm"
LOGO = "images/logos/windowsxp.png"
MEMORY = "3072"
MEMORY_UNIT_COST = "MB"
NIC = [
  NETWORK = "vnet",
  NETWORK_UNAME = "oneadmin",
  SECURITY_GROUPS = "0" ]
OS = [
  BOOT = "" ]
VCPU = "1"